.node-dev-tools {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: gray;
  overflow: hidden;
  padding: 10px 1rem;
  margin: 10px 0;
  border-radius: 5px;
}

.node-dev-tools .background-text{
  /* margin: 3rem;  */
  position: absolute; 
  padding: 0;
  margin-top: -10p x;
  top: 0; 
  left: 0;
  bottom: 0; 
  z-index: 2; 
  color: black; 
  opacity: 30%;
  font-size: 5rem;
  pointer-events: none;
}

.dev-button {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);

  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}