.dimension-graph {
  position: absolute;
  pointer-events: none;
}

/* .dimension-graph#horizontal-bar {
} */

.dimension-graph#vertical-bar {
  writing-mode: vertical-lr;
/* text-orientation: mixed; */
}

.dimension-graph#vertical-bar .text {
  transform: rotate(180deg);
}

.dimension-graph .text{
  text-align: center;
  
}

.dimension-graph hr { 
  border-width: 1px;
  border-style: solid;
  border-color: var(--bs-body-color);
  margin: 0;
  border-radius: 10px;
}

