.grid-container {
  position: relative;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-color: var(--bs-body-color);
  border-top-style: solid;
  border-bottom-style: solid;
}

.grid-box {
  display: inline-block;
}


.grid-box .grid-row {
  margin: -4px !important;
}

.theme-toggle-button {
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
}
